@page
@model ASP_NET_Razor.Pages.ListDataModel
@{
}

<form method="post">
    <label>Name</label>
    <input name="search"/>
    <input type="submit" value="Search"/>
</form>

<table style="border:1px solid black; border-collapse:collapse">
    <tr>
        <th>ID</th><th>Name</th><th>Age</th>
    </tr>
    @foreach(var p in Model.listData)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.Age</td>
        </tr>
    }
</table>